{% load content_sanitization %}

<!--  Page 3 - Disclaimer Page  -->

<article id="disclaimersummary">

    <h1 id="disclaimersummary-title" class="report-title">Confidentiality Disclaimer</h1>

    <p>
        This document outlines the business of M2P Solutions Private Limited and is being shared on a privileged and need-to-know basis. All data and information contained herein and provided by M2P Solutions Private Limited are considered confidential and proprietary. The data and information contained herein may not be reproduced, published, or distributed to, or for, any third parties without prior written consent of M2P Solutions Private Limited.    
    </p>

</article>